.category__alert--success {
    padding: 10px 30px;
    border-color: #badbcc;
    background-color: #d1e7dd;
    color: #0f5132;
}

.category__alert--danger {
    padding: 10px 0;
    border-color: #f5c2c7;
    background-color: #f8d7da;
    color: #842029;
}

.category__alert--danger ul {
    margin:0;
}

.category__content {
    margin: 0 auto;
    padding: 60px 15px;
    max-width: 1230px;
}

.category-form {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    width: 70%;
    text-align: center;
}

.category-form__input {
    width: 100%;
    padding: 10px;
    height: 40px;
    border: 1px solid #ddd;
    border-radius: 3px;
}

.category-form__item {
    width: 70%;
    display: flex;
}

.category-form__submit {
    width: 20%;
}

.category-form__button {
    padding: 10px;
    width: 100%;
    height: 40px;
    border: none;
    border-radius: 3px;
    background: #000;
    color: #fff;
    cursor: pointer;
}

.category-table {
    margin: 30px auto;
    width: 100%;
    text-align: left;
}

.category-table__inner {
    width: 70%;
    margin: 0 auto;
}

.category-table__row {
    border-bottom: 1px solid #ddd;
}

.category-table__header {
    padding: 12px;
    width: 20%;
    text-align: left;
    font-weight: bold;
}

.category-table__item:first-of-type {
    padding: 12px;
    width: 90%;
}

.update-form {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.update-form__item {
    width: 40%;
    line-height: 50%;
}

.update-form__input {
    width: 100%;
    outline:none;
    border: none;
}

.update-form__submit {
    width: 50px;
}

.update-form__button {
    padding: 5px;
    width:100%;
    border: none;
    border-radius: 3px;
    background: #0000ff;
    color: #fff;
    cursor: pointer;
}

.delete-form__submit {
    width: 50px;
}

.delete-form__button {
    padding: 5px;
    width: 100%;
    border: none;
    border-radius: 3px;
    background: #ff0000;
    color: #fff;
    cursor: pointer;
}