/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/.vscode

# Laravel 標準
/*.log
/storage/framework/cache/data/
/storage/logs/
/bootstrap/cache/*.php

# Docker 関連（コンテナ・MySQL データなど）
docker/mysql/data/
/docker/nginx/logs/
/docker/php/logs/

# macOS 系
.DS_Store

# Composer 関連
/composer.lock

# npm/yarn lock は任意だけど残す場合も
# package-lock.json
# yarn.lock